<!DOCTYPE html>
{% extends 'testapp/home.html'%}
{%load static%}
{% block body_block %}
    <div class="row">
  <div class="column">
<img src="{%static 'css/oip.jpeg'%}" width="300" >
   <h5>Symbol Premium<h6>
       <h6> Men's Wrinkle-Resistant Regular</h6>
       <h6>Fit Cotton Formal Shirt</h6>
       <h2>₹1,499</h2>
       <h5>Only 5 left in stock..</h5>
<div>
    <div class="column">
<img src="{%static 'css/oip.jpeg'%}" width="300" >
       <h6> Men's Wrinkle-Resistant Regular</h6>
       <h6>Fit Cotton Formal Shirt</h6>
       <h2>₹1,499</h2>
       <h5>Only 5 left in stock..</h5>
</div>


{% endblock %}
